:root {
  --primary: #3ddc97;
  --secondary: #357266;
  --bg-light: #edf5fc;
  --bg-dark: #1e1e24;
  --bg-veryDark: #121212;
  --accent: #63adf2;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-veryDark);
}

/* Utilities */

.flex {
  display: flex;
  width: 100%;
}

.column {
  flex-direction: column;
}

.spacer {
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}

.align {
  align-items: center;
}

.center {
  justify-content: center;
}

.end {
  justify-content: end;
}

.error {
  color: red;
  margin-top: 1em;
}